<link rel="stylesheet" href="/src/public/css/header.css" />
<header class="header container-fluid">
    <div class="row header__container">
        <div class="header--setting header--item">
            <a href="#"><i class="fa-regular fa-gear " style="color: #fff; font-size: 1.6rem;"></i></a>
            <ul class="setting--list menu--list">
                <li>
                    <a href="#">Change themes
                        <i class="fa-regular fa-arrow-up-right-from-square"></i></a>

                </li>
                <li>
                    <a href="#">About us
                        <i class="fa-regular fa-arrow-up-right-from-square"></i></a>

                </li>
            </ul>
        </div>
        <div class="header--avatar header--item">
            <img src="https://cdn-icons-png.flaticon.com/512/547/547413.png" alt="avatar">
            <ul class="avatar--list menu--list">
                <li>
                    <a href="/music-application/account">Account
                        <i class="fa-regular fa-arrow-up-right-from-square"></i>
                    </a>
                </li>
                <li>
                    <a href="/music-application/auth/logout">Logout
                        <i class="fa-regular fa-arrow-up-right-from-square"></i></a>

                </li>
            </ul>
        </div>
    </div>
</header>